.block{
 background-color: #b1bced;
 
}
.tarjeta{
    border-top: solid 6px  #b1bced;
    border-left: solid 6px  #b1bced;
    box-shadow: 6px 6px 8px rgb(197, 202, 192);  
}
.ficha1{
    // border: solid 2px gray;
    border-left: solid 6px #c4f45d;
    // box-shadow: 1px 9px 9px rgb(197, 202, 192);
    
    // border-bottom: solid 5px #c4f45d;
    // margin: 25px auto;
    width: 500px;
    height: 80px;
    box-shadow: 6px 6px 8px rgb(197, 202, 192);  
}